<div class="container">
  <div class="register-box">

  <form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" formControlName="username" class="form-control" />
    <div *ngIf="form.get('username')?.invalid && form.get('username')?.touched" class="error">
      Username is required.
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" class="form-control" />
    <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="error">
      Email is required.
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" class="form-control" />
    <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="error">
      Password is required.
    </div>
  </div>
    <re-captcha
      [siteKey]=environment.recaptcha.sitekey
      (resolved)="handleCaptchaResponse($event)"
      (expired)="onExpired()">
      formControlName="recaptcha">
    </re-captcha>    <div *ngIf="form.get('recaptcha')?.invalid && form.get('recaptcha')?.touched" class="error">
      Please complete the CAPTCHA
    </div>

  <button type="submit" class="btn btn-primary" [disabled]="form.invalid  || !this.recaptchaResolved">Εγγραφή</button>

</form>
    <button (click)="navigateToLogin()" class="btn btn-primary"><a>Σύνδεση Χρήστη</a></button>

  </div>
</div>
